.collection {

    margin-bottom: 60px;

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__name {
        font-family: var(--sub-font);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3;
        color: #000;
    }

    &__availability {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #a35214;
    }
}